body{
	margin:0;
	padding: 0;
	overflow-x:hidden;
	background-color: white;
}
nav{
	background-color: #037F99;
	height: 75px;
}
.bunny{
	position: absolute;
    top: 12px;
    left: 136px;
}
.bunny h1{
	color:white;
	font-family: 'Baloo Paaji', cursive;
	font-size: 30px;
}
.bunny span{
	color:#F37673;
	font-family: 'Baloo Paaji', cursive;
	font-weight: bold;
}
ul{
	position: relative;
	top:14px;
	left:12px;
}
.lista{
	font-size: 14px;
    padding: 5px;
    display: inline-block;
    left: 218px;
    position: relative;
    font-family: 'Prompt', sans-serif;
}
a{
	color:white;
}
a:hover{
	color:pink;
}
#segundo{
	background-color: #037F99;
}
#segundo i{
	color: white;
	font-size: 25px;
	cursor: pointer;
}
.menu.flex-container{
	padding-left: 18px;
	background-color:#037F99;
}
.general{
	background-color:#037F99;
	display:none;
	width: 100%;
}
.link{
	font-family: 'Prompt', sans-serif;
	color: white;
    font-weight: bold;
    padding-left: 19px;
    height: 26px;
    margin-top: 12px;
    cursor: pointer;
}
.link:hover{
	text-decoration: underline;
}
.oculto{
	display: none;
}
.first{
	background-image: url(../img/img-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 58px;
    height: 37%;
}
.caja{
	height: 235px;
    margin: 0 auto;
    background-color: rgba(9,123,141,0.7);
    position: relative;
    bottom: 25px;
}
.caja h3{
    font-family: 'Baloo Paaji', cursive;
    font-size: 77px;
    color: #F37673;
    text-align: center;
    margin-top: 30px;
}
.caja p{
	font-family: 'Prompt', sans-serif;
	color: white;
    font-size: 19px;
    padding: 14px;
    text-align: center;
    font-style: italic;
}
img{
	width: 100%;
	height: auto;
}
.second{
	padding: 20px;
}
.tale{
	background-color: #037F99;
    width: 250px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 22px;
    height: 400px;
}
.tale h3{
	font-family: 'Baloo Paaji', cursive;
	text-align: center;
    color: #F37673;
    font-size: 16px;
    padding: 13px;
}
.tale p{
	margin: 10px;
    padding: 5px;
    color: white;
    text-align: center;
    font-size: 15px;
}
.third{
	background-color:#037F99;
	padding: 31px;
}
.third h3{
	text-align: center;
	color: #F37573;
	font-family: 'Baloo Paaji', cursive;
}
.third h5{
	font-weight: bold;
	padding: 10px;
}
.third p{
	padding: 10px;
	font-family: 'Prompt', sans-serif;
	font-size: 14px;
}
.third i {
    color: #0355DC;
    padding: 7px;
    margin: 5px 23px;
    border: 1px solid #fff;
    border-radius: 100%;
    background-color: #fff;
}
.texto{
	border:20px solid #EAFAFB;
	width: 70%;
	border-radius:8px;
	padding:20px;
	margin-top:25px;
}
.conejo{
	background-color:#EAFAFB;
	margin:25px;
}
.conejo2{
	background-color:#EAFAFB;
	margin-right:30px;
	margin-top: 10px;
    height: 412px;
}
.conejo3{
	background-color:#EAFAFB;
	margin-top: 30px;
	margin-right:30px;
	
}
iframe{
	width: 100%;
}
.fourth{
	background-image: url(../img/bunny-head.png);
    background-repeat: repeat-x;
    background-size: 109px;
    height: 112px;
    margin: 18px;
}
footer{
    background-color: #0355DC;
    height: 76px;
    border-top: #F37673 solid;
    text-align: center;
}
footer p{
    color: white;
    padding: 10px;
}